<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.P2PLoan.admin.mapper.SystemDictionaryMapper">
    
    <!--<resultMap id="modelInfo" type="com.zking.P2PLoan.admin.model.SystemdictionaryModel">-->
        <!--<id column="id" property="id" javaType="java.lang.Integer" />-->
        <!--<result column="sn" property="sn" javaType="java.lang.String" />-->
        <!--<result column="title" property="title" javaType="java.lang.String" />-->
        <!--<result column="intro" property="intro" javaType="java.lang.String" />-->
       <!--<collection property="items" ofType="com.zking.P2PLoan.admin.model.SystemdictionaryitemModel">-->
           <!--<id column="id" property="id" javaType="java.lang.Integer"/>-->
           <!--<result column="parentId" property="parentId" javaType="java.lang.Integer" />-->
           <!--<result column="title" property="title" javaType="java.lang.String" />-->
           <!--<result column="tvalue" property="tvalue" javaType="java.lang.String" />-->
           <!--<result column="sequence" property="sequence" javaType="java.lang.Byte" />-->
           <!--<result column="intro" property="intro" javaType="java.lang.String" />-->
       <!--</collection>-->
<!--</resultMap>-->

    <insert id="addSystemdictionary">
        insert into systemdictionary(sn, title, intro) values (#{sn},#{title},#{intro});
    </insert>

    <update id="updatedelSystemdictionary">
        update systemdictionary set sn = #{sn},title = #{title},intro = #{intro} where id = #{id};
    </update>

    <delete id="delSystemdictionary">
        delete from systemdictionary where id = #{id};
    </delete>

    <select id="getSystemdictionary" resultType="com.zking.P2PLoan.admin.model.SystemdictionaryModel">
        SELECT * FROM systemdictionary
        <where>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="status != null and status != ''">
                and status like concat('%',#{status},'%')
            </if>
        </where>
    </select>
</mapper>