<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.P2PLoan.home.mapper.IAccountMapper">


    <update id="Transfer">
        update account set usableAmount = #{balance} where id = #{id};
    </update>


    <select id="getAccountInfoByuserName" resultType="com.zking.P2PLoan.home.model.AccountModel">
        select t1.username,t3.realName,t5.* from logininfo t1
            INNER JOIN loginuser t2 ON t1.id = t2.lid
            INNER JOIN userinfo t3 ON t2.uid = t3.id
            INNER JOIN useraccount t4 ON t3.id = t4.uid
            INNER JOIN account t5 on t4.aid = t5.id
            <where>
                <if test="userName!=null and userName!=''">
                    and t1.username = #{userName}
                </if>
            </where>
    </select>

</mapper>