<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.P2PLoan.admin.mapper.IpLogMapper">


    <insert id="addRecordingByLogin">
       insert into iplog(ip, state, username, logininfoid, userType, logintime)
       VALUES (#{param1.ip},#{param1.state},#{param1.username},#{param1.logininfoid},#{param1.userType},#{param1.logintime});
    </insert>
    <delete id="DelByID">



    </delete>
</mapper>