<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.P2PLoan.admin.mapper.LoginMapper">


    <!-- 使用ehcache缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="getUserByUserName" resultType="com.zking.P2PLoan.admin.model.LogininfoModel">
        select * from logininfo t where t.username = #{username};
    </select>

    <select id="getRolesByUserName" resultType="java.lang.String">
        select r.rolesName from logininfo t1
          inner join userroles t2 on t1.id = t2.lid
          inner join rolesinfo r on t2.rid = r.rid
       <where>
           <if test="userName != null and userName != ''">
               and t1.username = #{userName};
           </if>

       </where>
    </select>

    <select id="getPermissionByuserName" resultType="java.lang.String">
        select t5.permission from logininfo t1
          inner join userroles t2 on t1.id = t2.lid
          inner join rolesinfo t3 on t2.rid = t3.rid
          inner join roleper t4 on t3.rid = t4.rid
          inner join rolepermission t5 on t4.pid = t5.id
        <where>
        <if test="userName != null and userName != ''">
            and t1.username = #{userName};
        </if>
        </where>
    </select>

</mapper>